/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  }
}

:root {
  color-primary: #2b7177;
  color-contrast: #0b3460;
  color-light: #fafafa;
  color-text: #050505;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-light);
  color: var(--color-text);
  min-height: 100vh;
  padding: 0 10px;
}

@layer components {
  .btn {
    @apply bg-primaryLight text-primary h-fit py-2 px-8 text-base hover:bg-primary hover:text-primaryLight focus:bg-primary focus:text-primaryLight cursor-pointer w-fit rounded-md;
  }
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
input[type='date']::-webkit-input-placeholder {
  visibility: hidden !important;
}

h1,
h2,
h3,
h4 {
  hyphens: auto;
}
